<div class="pt-10 mb-20">
  <app-search (searchEvent)="onSearch($event)"></app-search>
  <h1 *ngIf="user && repos.length > 0" class="mb-10 font-bold text-2xl">
    Viewing {{ user }}'s repositories
  </h1>
</div>

<div
  *ngIf="user && repos.length > 0"
  class="mb-10 flex justify-center items-center gap-5"
>
  <label class="mr-2">Number of repos per page:</label>

  <input
    type="number"
    [(ngModel)]="pageSize"
    class="border border-gray-300 rounded-md py-2 px-4 w-20"
  />
  <button
    (click)="fetchRepos()"
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
  >
    Fetch Repos
  </button>
</div>

<app-loading *ngIf="loading"></app-loading>

<ng-container *ngIf="!loading">
  <div *ngIf="repos && repos.length > 0" class="grid-cols-2 grid">
    <app-profile
      *ngFor="let repo of repos"
      [owner]="repo.owner"
      [name]="repo.name"
      [private]="repo.private"
      [created_at]="repo.created_at"
      [html_url]="repo.html_url"
      [stargazers_count]="repo.stargazers_count"
      [watchers_count]="repo.watchers_count"
      [language]="repo.language"
      [description]="repo.description"
      [topics]="repo.topics"
      [open_issues]="repo.open_issues"
      class="border p-4"
    ></app-profile>
  </div>
  <!-- Pagination controls -->
  <div
    *ngIf="repos.length > 0"
    class="pagination-container flex items-center justify-center mt-5"
  >
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-l focus:outline-none focus:shadow-outline"
      (click)="prevPage()"
    >
      Previous
    </button>
    <span class="px-4">Page {{ currentPage }}</span>
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-r focus:outline-none focus:shadow-outline"
      (click)="nextPage()"
    >
      Next
    </button>
  </div>

  <div
    *ngIf="repos && repos.length === 0 && user && loading"
    class="text-red-500 text-center text-2xl"
  >
    No repositories found.
  </div>
</ng-container>
